/*General styling*/

    body, html {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
        width: 100vw;
        font-size: 16px;
    }

    body, h4, p {
        margin: 0;
    }

    h1, h2, h3 {
        font-family: 'Montserrat', sans-serif;
        margin: 0 0.8rem 0.8rem 0.8rem;
        text-align: center;
    }

    h4, p {
        padding: 1rem;
        text-align: left;
    }

    h1 {
        font-size: 6rem;
        color: #e0fbfc;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1rem;
        font-weight: 300;
    }

    ul {
        list-style-type: none;
    }

    section {
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        scroll-snap-align: start;
        position: relative;
    }

    div  {
        box-sizing: border-box;
    }

/* Landing page styling */

    .matt-container {
        display: grid;
        grid-template-columns: 2fr 1fr 7fr;
        text-align: left;
        padding-top: 6rem;
    }

    .church-container {
        display: grid;
        grid-template-columns: 4fr 3fr 2fr;
        text-align: right;
    }

    .tagline {
        color: #e0fbfc;
        margin-top: 25px;
    }

    .intro {
        color: #e0fbfc;
    }

    .examples {
        color: #ee6c4d;
    }

/* About page styling */

    .landing-page-wrapper {
        background-color: #293241;
    }

    .about-wrapper {
        background-color: #293241;
    }

    .page-header {
        padding: 2rem;
    }

    .about-wrapper {
        color: #e0fbfc;
    }

    .see-below {
        display: none;
    }

/* Projects page styling */

    .projects1-wrapper {
        background-color: #ee6c4d;
    }

    .projects {
        color: #293241;
    }

    .projects-header {
        color: #e0fbfc
    }

    .projects:nth-child(4)  {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .projects-img-container {
        transition: transform 0.3s;
        border-radius: 0.8rem;
        position: relative;
        vertical-align: middle;
        max-width: 80%;
    }

    .projects-img-container:hover {
        transform: scale(1.05);
    }

    .project-image {
        width: 100%;
        height: auto;
        opacity: 95%;
        border-radius: 0.8rem;
        transition: opacity 0.3s;
        transition: z-index 0.3s; 
    }

    .project-image:hover {
        z-index: -1;
        opacity: 10%;
    }

    .project-link-container {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: #293241;
        border-radius: 0.8rem;
        opacity: 0%;
        display: flex;
        align-items: center;
        transition: opacity 0.3s;
    }

    .project-link-container:hover {
        z-index: 2;
        opacity: 90%;
    }

    .project-links-ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .project-links {
        filter: invert(94%) sepia(19%) saturate(282%) hue-rotate(103deg) brightness(107%) contrast(98%);
    }

    .mobile-project-link {
        padding-bottom: 0;
    }


/* Contact page styling */

    .contact-wrapper {
        background-color: #e0fbfc;
    }

    .contact-header {
        color: #293241
    }

    .contact-link-images {
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 5rem;
        column-gap: 5rem;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 2rem;
        margin: 12px 12px;

    }

    .contact-link {
        transition: transform 0.3s;
        filter: invert(18%) sepia(7%) saturate(1974%) hue-rotate(179deg) brightness(93%) contrast(95%);
    }

    .contact-link:hover {
        transform: scale(1.2);
    }

/* Desktop and ultra-narrow queries */

    @media only screen and (min-width: 1100px) {
        
        html {
            font-size: 19px;
        }
    }

    @media only screen and (min-width: 900px) and (max-width: 1099px){
        html {
            font-size: 18px;
        }
    }

    @media only screen and (min-width: 900px) {

        h1 {
            font-size: 7rem;
        }

        h4, p {
            padding: 0.5rem;
            text-align: left;
            width: 90%;
        }

        section {
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr 3fr;
            scroll-snap-align: start;
            border: none;
        }

        p {
            margin: 0.5rem;
        }
    
        .split-three {
            grid-template-rows: 2fr 5fr 2fr;
            grid-template-areas: "top-left top-right"
                                 "middle-left middle-right"
                                 "bottom-left bottom-right";
        }
    
        .split-two {
            grid-template-rows: 2fr 7fr;
            grid-template-areas: "top-left top-right"
                                 "middle-left middle-right";
        }

       section > div:nth-child(1) {
            grid-area: top-left;
        }

       section > div:nth-child(2) {
            grid-area: top-right;
        }

        section > div:nth-child(3) {
            grid-area: middle-left;
            display: flex;
            align-items: center;
        }
    
       section > div:nth-child(4) {
            grid-area: middle-right;
        }

       section > div:nth-child(5) {
            grid-area: bottom-left;
        }

       section > div:nth-child(6) {
            grid-area: bottom-right;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
       .landing:nth-child(odd), .about:nth-child(odd) {
            background-color: #EE6C4D;
        }
    
       .landing:nth-child(even), .about:nth-child(even) {
            background-color: #293241;
        }

        .matt-container {
            padding-top: 1rem
        }

        .projects:nth-child(3) {
            flex-flow: column;
        }
        
        .projects-img-container {
            max-width: 100%;
            margin: 3rem;
        }

        .mobile-project-link {
            display: none;
        }

        .contact:nth-child(odd) {
            background-color: #293241;
            color: #e0fbfc;
        }
            
        .contact:nth-child(even) {
            background-color: #e0fbfc;
            color: #293241;
            border-left: 3px solid #e0fbfc;
        }

        .contact-text {
            color: #e0fbfc;
        }

        .contact:nth-child(4) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contact-link-images {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            flex-wrap: wrap;
        }

        /* Border animations */

        .orange-blue {
            border-bottom: 3px solid #ee6c4d;
            animation: orange-blue-border 1s ease-out 0s 1 forwards;
        }

        .blue-orange {
            border-left: 3px solid #293241;
            animation: blue-orange-border 1s ease-out 0.5s 1 forwards;
        }
    
        .blue-orange-bottom {
            border-bottom: 3px solid #293241;
            animation: blue-orange-bottom-border 1s ease-out 0s 1 forwards;
        }

        .blue-white {
            border-left: 3px solid #293241;
            animation: blue-white-border 1s ease-out 0.5s 1 forwards; 
        }

        .white-blue {
            border-bottom: 3px solid #e0fbfc;
            animation: white-blue-border 1s ease-out 0s 1 forwards;
        }

        .orange-white {
            border-left: 3px solid #ee6c4d;
            animation: orange-white-border 1s ease-out 0.5s 1 forwards; 
        }

        .blue-white-bottom {
            border-bottom: 3px solid #293241;
            animation: blue-white-bottom-border 1s ease-out 0s 1 forwards; 
        }

        .two-borders {
            border-bottom: 3px solid #293241;
            animation: orange-white-border 1s ease-out 0.5s 1 forwards,
            orange-blue-border 1s ease-out 0s 1 forwards;
        }

        @keyframes orange-blue-border {
            0% {border-bottom: 3px solid #EE6C4D;}
            100% {border-bottom: 3px solid #293241;}
        }

        @keyframes blue-orange-border {
            0% {border-left: 3px solid #293241;}
            100% {border-left: 3px solid #ee6c4d;}
        }

        @keyframes blue-orange-bottom-border {
            0% {border-bottom: 3px solid #293241;}
            100% {border-bottom: 3px solid #ee6c4d;}
        }

        @keyframes blue-white-border {
            0% {border-left: 3px solid #293241;}
            100% {border-left: 3px solid #e0fbfc;}
        }

        @keyframes blue-white-bottom-border {
            0% {border-bottom: 3px solid #293241;}
            100% {border-bottom: 3px solid #e0fbfc;}
        }

        @keyframes orange-white-border {
            0% {border-left: 3px solid #EE6C4D;}
            100% {border-left: 3px solid #e0fbfc;}
        }

        @keyframes white-blue-border {
            0% {border-bottom: 3px solid #e0fbfc}
            100% {border-bottom: 3px solid #293241}
        }
    }

    @media only screen and (max-width: 900px) {
        .project-link-container {
            display: none;
        }

        .intro {
            position: relative;
            top: 550px;
            text-align: center;
        }

        .contact-text {
            display: none;
        }

        .project-image:hover {
            opacity: 95%;
        }

        .white-blue {
            border: 3px solid #e0fbfc;
            animation: white-blue-border 1s ease-out 0s 1 forwards;
        }

        @keyframes white-blue-border {
            0% {border: 3px solid #e0fbfc}
            100% {border: 3px solid #293241}
        }

        .orange-white {
            border: 3px solid #ee6c4d;
            animation: orange-white-border 1s ease-out 0s 1 forwards;
        }

        @keyframes orange-white-border {
            0% {border: 3px solid #ee6c4d}
            100% {border: 3px solid #e0fbfc}
        }

        .blue-orange {
            border: 3px solid #293241;
            animation: blue-orange-border 1s ease-out 0s 1 forwards;
        }
    
        @keyframes blue-orange-border {
            0% {border: 3px solid #293241}
            100% {border: 3px solid #ee6c4d}
        }
    }

    @media only screen and (min-width: 700px) and (max-width: 899px) {

        img {
            max-height: 300px;
            max-width: 590px;
        }

    }

    @media only screen and (max-width: 449px) {
        
        html {
            font-size: 14px;
        }
        
        h1 {
            font-size: 80px;
        }

        .projects-img-container {
            max-width: 100%;
        }

        .sub-900-link {
            z-index: 5;
        }
    }