.desktop.modal-container, .mobile.modal-container {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: visible;
  background-color: rgba(4, 6, 12, 0.6);
  z-index: 5;
}

figure {
  border: 2px solid #04060C;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #293241;
  transition: all 0.2s ease;
  position: relative;
}
figure img {
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease;
}
figure h3 {
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 10px 0;
}
figure div.overlay {
  display: none;
}

button {
  border: none;
  color: #E0FBFC;
  background-color: rgba(4, 6, 12, 0);
  padding: 5px;
}

.mobile.modal-container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(4, 6, 12, 0.9);
  width: 80%;
  height: 80%;
  padding: 10%;
  border-radius: 10px;
}

.desktop.modal-container {
  z-index: 6;
}
.desktop.modal-container iframe {
  height: 80%;
  width: 80%;
  overflow: scroll;
}

div.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.card-container .card {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #293241;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 4px 9px 2px rgba(4, 6, 12, 0.3);
}
div.card-container .card i {
  color: #E0FBFC;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
div.card-container .card h3 {
  z-index: 3;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #E0FBFC;
  background: transparent;
}
div.card-container .card .fa-play-circle {
  z-index: 4;
  position: absolute;
  right: 5%;
  bottom: 45%;
  font-size: 40px;
  cursor: pointer;
}
div.card-container .card p {
  z-index: 3;
  position: absolute;
  bottom: 5%;
  right: 7%;
  color: transparent;
  font-weight: bold;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
div.card-container .card .pic {
  z-index: 100;
  width: 100%;
  height: 400px;
  opacity: 50%;
}
div.card-container .card .pic video {
  object-fit: cover;
  object-position: top;
}
div.card-container .card button {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  color: #E0FBFC;
}

h1 {
  font-size: 3.5rem;
  text-align: right;
}

h2 {
  font-size: max(2.5vw, 2.5rem);
  margin-bottom: 1.25rem;
}

h2, h3 {
  text-align: center;
}

h3 {
  width: 100%;
  background-color: #293241;
}

h3, h4 {
  font-size: max(2vw, 1.4rem);
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #E0FBFC;
  margin: 10px 0;
}

img {
  max-width: 100%;
  opacity: 80%;
}

ul {
  list-style-type: none;
  font-size: 3.125rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
ul li {
  margin: 1rem;
}

a {
  color: #E0FBFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #04060C;
  font-size: 16px;
}

body {
  overflow: auto;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #293241;
}

::-webkit-scrollbar-thumb {
  background: #04060C;
}

section {
  padding: 12%;
  display: flex;
  flex-direction: column;
}
section > * {
  width: 100%;
}

.landing-page {
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #04060C 0%, #293241 66%, #04060C 100%);
  padding: 12%;
}
.landing-page p {
  font-size: 1rem;
  margin-top: 5vh;
  padding: 0.5rem 0;
  border-top: 3px solid #EE6C4D;
  border-bottom: 3px solid #1A595C;
}

.project-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-wrapper {
  padding: 0px;
}

.projects-intro {
  height: 300vh;
  background-image: linear-gradient(to bottom, #04060C 40%, #293241 70%, #EE6C4D 100%);
}

.project {
  position: relative;
  align-items: center;
}

section.project-one {
  background-image: linear-gradient(to bottom, #EE6C4D, #1A595C);
}

section.project-two {
  background-image: linear-gradient(to bottom, #1A595C, #6855AC, #293241);
}

section.project-three {
  background-image: linear-gradient(to bottom, #6855AC, #293241);
}

.about {
  background-image: linear-gradient(to bottom, #293241, #04060C);
  padding-bottom: 0;
  height: 100vh;
  justify-content: space-around;
}
.about article:nth-child(2) h2 {
  display: none;
}

footer {
  height: 5vh;
  border-top: 3px solid #EE6C4D;
  background-color: transparent;
}

@media only screen and (min-width: 360px) {
  p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .card-container {
    max-width: 70%;
  }

  h1 {
    font-size: max(6.5vw, 6.5rem);
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 17px;
  }

  p {
    font-size: max(1vw, 1rem);
  }

  i {
    transition: all 0.3s;
  }
  i:hover {
    opacity: 80%;
    transform: scale(1.05);
  }

  .landing-page p, .about p {
    font-size: max(1.2vw, 1.2rem);
  }

  section.project-one {
    background-image: linear-gradient(to bottom, #293241, #EE6C4D, #1A595C);
  }

  section.project-two {
    background-image: linear-gradient(to bottom, #1A595C, #6855AC, #293241);
  }

  .card-container .card .pic {
    filter: grayscale(100%);
  }
  .card-container .card i {
    opacity: 0;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .card-container .card:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .card-container .card:hover button {
    transform: scale(14.5);
    background-color: #EE6C4D;
  }
  .card-container .card:hover p {
    color: #E0FBFC;
  }
  .card-container .card:hover .pic {
    filter: grayscale(0);
  }

  .landing-page {
    background-image: linear-gradient(to bottom, #04060C, #293241);
  }
  .landing-page p {
    width: 66%;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    background-color: #293241;
    height: 80vh;
    width: 100%;
  }

  .projects-intro {
    height: auto;
    background-color: #293241;
    background-image: none;
    position: sticky;
    top: 0;
    z-index: 6;
    padding: 20px 30px;
  }
  .projects-intro h2 {
    text-align: left;
    margin: 0;
  }

  .desktop.modal-container {
    visibility: hidden;
  }
  .desktop.modal-container i {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #E0FBFC;
  }

  .mobile.modal-container {
    visibility: visible;
    background-color: #293241;
    width: 100%;
    height: 80vh;
    position: static;
    padding: 0;
  }
  .mobile.modal-container article {
    width: 100%;
    background-color: #293241;
    padding: 30px;
  }
  .mobile.modal-container article button {
    display: none;
  }

  .about article:nth-child(1) h2 {
    text-align: left;
  }
  .about article:nth-child(2) h2 {
    text-align: right;
    display: block;
  }
  .about ul {
    justify-content: flex-end;
    margin: 30px 0;
  }
}