//Fonts

h1, h2, h3, h4 {
    font-family: $header-font;
    color: $white;
}

h1 {
    font-size: 3.5rem;
    text-align: right;
}

h2 {
    font-size: max(2.5vw, 2.5rem);
    margin-bottom: 1.25rem;
}

h2, h3 {
    text-align: center;
}

h3 {
    width: 100%;
    background-color: $blue;
}

h3, h4 {
    font-size: max(2vw, 1.4rem);
}

p {
    font-family: $body-font;
    font-size: 0.8rem;
    font-weight: 300;
    color: $white;
    margin: 10px 0;
}

// Other elements

img {
    max-width: 100%;
    opacity: 80%;
}

ul {
    list-style-type: none;
    font-size: 3.125rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
        margin: 1rem;
    }
}

a {
    color: $white;
}